name: Renovate

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch: {}

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Get token
        id: get_token
        uses: actions/create-github-app-token@v2.2.1
        with:
          app-id: ${{ secrets.RENOVATE_GITHUB_APP_ID }}
          owner: paweloczadly
          private-key: ${{ secrets.RENOVATE_GITHUB_APP_PRIVATE_KEY }}
          repositories: |
            org
            renovate-config
            repository-template

      - name: Checkout
        uses: actions/checkout@v6.0.1

      - name: Self-hosted Renovate
        uses: renovatebot/github-action@v44.2.5
        with:
          configurationFile: renovate/00-renovate-config.json
          token: '${{ steps.get_token.outputs.token }}'
        env:
          RENOVATE_AUTODISCOVER: 'true'
